<input type="number" placeholder="number"
min =1 max = 5 [(ngModel)]="formId"/><br/>
<select [(ngModel)]='whichCategory'>
    <option *ngFor = 'let item of choices'>{{item.cat}}</option>
</select>
<br/>
<button (click)='handleClick()'>Go</button>

<h2>Here are the results</h2>

<!-- conditionally shows results -->

<div *ngIf='whichCategory=="people" '> Name:{{model.name}} <br/> Height: {{model.height}} </div>
<div *ngIf='whichCategory=="planets" '> Name:{{model.name}} <br/> Climate:{{model.climate}} </div>
<div *ngIf='whichCategory=="species" '> Name:{{model.name}}<br/> Classification: {{model.classification}} </div>
<div *ngIf='whichCategory=="vehicles" '> Name:{{model.name}}<br/> Manufacturer: {{model.manufacturer}} </div>
<div *ngIf='whichCategory=="starships" '> Name:{{model.name}}<br/> Manufacturer: {{model.manufacturer}} </div>
<pre>{{model |json}}</pre>
